<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.consulting.request">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Consulting"
        tools:targetApi="31">
        <activity
            android:name=".RequestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Popup.DatePickerPopup"
            android:theme="@android:style/Theme.DeviceDefault.Dialog"
            android:exported="true"/>

        <activity android:name=".RecentActivity"
            android:exported="true"/>

        <activity android:name=".MailActivity"
            android:exported="true"/>

        <service android:name=".Services.MainService"
            android:enabled="true"
            android:exported="true"/>
        <service android:name=".Services.RestartService"
            android:exported="true"
            android:enabled="true"/>
        <receiver android:name=".Receiver.AlarmReceiver"
            android:exported="true"
            android:enabled="true"/>


    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
</manifest>